
#partida{
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

.vacio {
    background-image: url(../img/vacio.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;  
}

.agua {
    background-image: url(../img/agua.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
}

.portaaviones {
    background-image: url(../img/Spec_Ops_Sea_Hive_Carrier.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;  
}

.fragata {
    background-image: url(../img/Railgun_Battleship.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;  
}

.destructor {
    background-image: url(../img/destructor.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;  
}

.buque {
    background-image: url(../img/Elite_Assault_Battleship.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
}

.submarino {
    background-image: url(../img/submarino.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;   
}

